## Data Science Tools and Ecosystem 

using H1 style heading.

## Welcome to the Interactive Notebook
In this interactive notebook, you'll find a powerful tool to unleash your creativity and boost your productivity. With the ability to combine code, text, and visualizations, this notebook empowers you to explore, analyze, and communicate your ideas effectively. Whether you're a data scientist, a researcher, or simply curious about the world around you, this notebook is your gateway to a world of discovery. So let's dive in and let your imagination run wild!

**Objectives:** List popular languages for Data Science.
* Popular programming languages used in data science.
* 
Commonly used libraries for data science task.
* 
Examples of evaluating arithmetic expressions in Pyth
* n
Converting minutes to hours usingthon
* In
Introduction to data visualization with Matplotlib and Sea.born

## Some of the popular languages that Data Scientists use are:
1.python\
2.R\
3.julia

# Some of the commonly used libraries used by Data Scientists include:
1.Numpy\
2.Pandas\
3.TensorFlow\
4.Keras\
5.matplotlib

| Data Science Tools |
|-------------------|
| Jupyter Notebook  |
| RStudio           |
| Apache Zeppelin   |

### examples of evaluating arithmetic expressions in Python

### 1.Addition:

In [ ]:
x = 5
y = 3
result = x + y
print(result)  # Output: 8

### 2.subtraction:

In [ ]:
x = 5
y = 3
result = x - y
print(result)  # Output: 2

### 3.Multiplication:

In [ ]:
x = 4
y = 6
result = x * y
print(result)  # Output: 24

In [2]:
# This is a simple arithmetic expression to multiply then add integers.
result = (3 * 4) + 5
print(result)  # Output: 17

17

In [ ]:
# This will convert 200 minutes to hours by dividing by 60.
minutes = 200
hours = minutes / 60
print(hours)  # Output: 3.3333333333333335

## Author
---------
Jayant